body { -moz-opacity:0.9999; }

#nojs { margin:0 auto; padding:10px; text-align:center; background:#333; color:#ccc; }
#nojs a { color:#fff; }

/* layout */
#main #content { padding:0; }

.box { border:1px solid; border-color:#e5e5e5 #dbdbdb #d2d2d2; background:#fcfcfc; -webkit-box-shadow:rgba(0,0,0,.5) 0 1px 2px; -moz-box-shadow:rgba(0,0,0,.5) 0 1px 2px; }
div ~ .box { border-width:0; *border-width:1px; } /* reset for safari3, and resetting that reset for IE7 */
@-moz-document url-prefix() { div ~ .box { border-width:1px; } } /* FF2 reset for the above */
.box:nth-child(1n) { border:none; } /* reset for smart browsers */
.box { border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px; -o-border-radius:3px; -khtml-border-radius:3px; }

.roundedtop { border-radius: 3px 3px 0 0; -webkit-border-top-left-radius:3px; -webkit-border-top-right-radius:3px; -moz-border-radius: 3px 3px 0 0; -o-border-radius: 3px 3px 0 0; -khtml-border-radius: 3px 3px 0 0; }
.box h2 { border-radius: 4px 4px 0 0; -webkit-border-top-left-radius:4px; -webkit-border-top-right-radius:4px; -moz-border-radius: 4px 4px 0 0; -o-border-radius: 4px 4px 0 0; -khtml-border-radius: 4px 4px 0 0; }

.promobox { position:relative; margin:0; padding:7px 14px 1px; background:url(http://images.apple.com/startpage/images/mobileme_bg20091110.png) 0 100% repeat-x; zoom:1; }
.promobox:nth-child(1n) { border-width:3px 0 0; -webkit-border-image:url(http://images.apple.com/startpage/images/mobileme_top20091110.png) 3 0 0 0 repeat repeat; -moz-border-image:url(http://images.apple.com/startpage/images/mobileme_top20091110.png) 3 0 0 0 repeat repeat; }
.promobox:after { content:'.'; display:block; height:0; clear:both; visibility:hidden; }

#main .grid3col div.column { width:482px; margin-left:14px; }
#main .grid3col div.column.first,
#main .grid3col div.column.last { width:234px; }

/* promo header */
#main #header { position:relative; height:155px; margin-bottom:21px; }
#main #header .promo { position:absolute; }
#main #header .promo a { position:absolute; top:0; left:0; width:236px; height:20px; }
#main #header #promo1 { left:0; }
#main #header #promo2 { left:248px; }
#main #header #promo3 { left:496px; }
#main #header #promo4 { left:744px; }
#main #header #promo1,
#main #header #promo2,
#main #header #promo3,
#main #header #promo4 { height:155px; width:236px; }
#main #header .promo a.default { z-index:1; display:block; }
#main #header .promo a.guidedlink h4 { position:absolute; top:162pt; left:316pt; font-weight:normal; color:#808080; font-size:13px; z-index:1; width:170px; }
#main #header .promo a.guidedlink #arrow { position:absolute; top:163pt; left:425pt; z-index:1; }
#main #header .promo a:hover { color:#808080; }

/* content */
#content { color:#333; }
#main h2, #main h3, #main h4 { color:#000; }

#main h2 a, #main h3 a, #main h4 a { color:#000; }
#main h2 a:hover, #main h3 a:hover, #main h4 a:hover { color:#08c; text-decoration:none; }
#main h3, #main h4 { position:relative; margin-right:-10px; font-size:12px; margin-bottom:0; }

#main a.view { display:block; margin-bottom:3px; padding:5px 18px 5px 0; font-size:11px; line-height:22px; text-align:right; color:#797c80; border-top:1px solid #e4e4e4; background:url(http://images.apple.com/startpage/elements/view_arrow20080805.png) no-repeat 100% 50%; }

#main a.block { display:block; color:#76797c; text-decoration:none; }
#main a.block .more { color:#08c; font-style:normal; font-weight:normal; white-space:nowrap; padding-right:10px; background:url(http://images.apple.com/global/elements/arrows/morearrow_08c.gif) no-repeat 100% 50%; zoom:1; }
#main a.block:hover .more { text-decoration:underline; }

/* stories */
#main #stories { position:relative; height:563px; margin-bottom:11px; padding:0 15px; line-height:16px; }

#main #stories .titlebar { position:relative; margin:0 -15px 20px; height:25px; background:#d8d8d8 url(http://images.apple.com/startpage/elements/titlebg20091110.png) repeat-x 0 100%; }
#main #stories .titlebar h2 { float:left; margin:0; padding:3px 12px 4px; font-size:13px; color:#333; }
#main #stories .titlebar .rss a { position:absolute; top:5px; right:5px; display:block; height:15px; width:27px; text-indent:-9999px; background:url(http://images.apple.com/startpage/elements/rss_icon20080805.png) no-repeat; }

#main #stories .titlebar ul.sortnav { position:absolute; top:4px; right:45px; margin-bottom:0; font-size:11px; }
#main #stories .titlebar ul.sortnav li { float:left; }
#main #stories .titlebar ul.sortnav li a { color:#282828; padding:3px 0 4px 10px; *padding-top:0; *padding-bottom:0; outline:none; }
#main #stories .titlebar ul.sortnav li a:hover,
#main #stories .titlebar ul.sortnav li a:focus { color:#000; text-decoration:none; }
#main #stories .titlebar ul.sortnav li a span { padding:3px 10px 4px 0; }
#main #stories .titlebar ul.sortnav li a.active { background:url(http://images.apple.com/startpage/elements/stories_sortnav_left20090109.png) no-repeat 0 50%; }
#main #stories .titlebar ul.sortnav li a.active span { color:#fefefe; cursor:default; background:url(http://images.apple.com/startpage/elements/stories_sortnav_right20090109.png) no-repeat 100% 50%; }

#main #stories ul.sortnav li#stories-all { padding-right:10px; border-right:1px solid #b5b5b5; }
#main #stories ul.sortnav li#stories-mac { padding-left:10px; border-left:1px solid #f2f0f0; }

#main #stories .storycontent { position:absolute; top:45px; left:15px; width:460px; }
#main #stories .storycontent .story { margin-bottom:14px; }
#main #stories .storycontent p { margin-bottom:0; }
#main #stories .storycontent p.date { margin:-.3em 0 4px; font-size:11px; color:#797c80; }
#main #stories .storycontent p.copy { color:#333; }

#main #stories a.view { position:absolute; bottom:0; left:15px; width:437px; }

/* sideboxes */
#main .sidebox { position:relative; margin-bottom:11px; padding:0 15px; font-size:11px; line-height:1.4em; }
#main .sidebox h2 { margin:0 -16px 12px; padding:3px 12px 4px; font-size:13px; word-spacing:-1px; color:#fff; background:#71829e url(http://images.apple.com/startpage/elements/titlebg_blue20091110.png) repeat-x 0 0; }
#main .sidebox h2 a { display:block; margin-right:-7px; color:#fff; background:url(http://images.apple.com/startpage/elements/box_linkarrow20080805.gif) no-repeat 100% 50%; }
#main .sidebox h2 a:hover { text-decoration:none; }

#main .sidebox#sb-store { min-height:410px; _height:410px; }
#main .sidebox#sb-store ul { margin:0 -15px; }
#main .sidebox#sb-store li { padding:10px 15px; border-top:1px solid #e8e8e8; }
#main .sidebox#sb-store h3 { display:none; margin-right:-10px; margin-left:-10px; padding-top:1px; padding-bottom:1px; word-spacing:-2px; font-size:14px; }
#main .sidebox#sb-store p { margin:0; }
#main .sidebox#sb-store img { display:none; margin:10px -15px 0; }
#main .sidebox#sb-store li.featured,
#main .sidebox#sb-store li:first-child { padding:0 15px; border-top:none; text-align:center; }
#main .sidebox#sb-store li.featured h3,
#main .sidebox#sb-store li:first-child h3 { display:block; }
#main .sidebox#sb-store li.featured h4,
#main .sidebox#sb-store li:first-child h4 { display:none; }
#main .sidebox#sb-store li.featured p,
#main .sidebox#sb-store li:first-child p { display:inline; }
#main .sidebox#sb-store li.featured img,
#main .sidebox#sb-store li:first-child img { display:block; }

#main .sidebox#sb-store p.more { display:block; margin:-2px -4px 8px; padding:7px 2px 2px 4px; text-align:left; color:#797c80; border-top:1px solid #e4e4e4; }
#main .sidebox#sb-store p.more strong { color:#252525; font-weight:normal; }

#main .sidebox#sb-trailers { height:243px; }
#main .sidebox#sb-trailers #trailers { text-align:center; }

#main .sidebox#sb-tutorials { min-height:563px; _height:563px; }

#main .sidebox#sb-tutorials a strong { color:#000; font-weight:normal; }
#main .sidebox#sb-tutorials a:hover strong { color:#08c; }

#main .sidebox#sb-tutorials a.featured { position:relative; display:block; margin:-2px 0 13px; font-size:12px; color:#888; text-align:center; }
#main .sidebox#sb-tutorials a.featured:hover { text-decoration:none; }
#main .sidebox#sb-tutorials a.featured img { display:block; padding:14px 41px 23px; background:url(http://images.apple.com/startpage/elements/foh_featured20090109.gif) no-repeat 50% 0; }
#main .sidebox#sb-tutorials a.featured img.overlayicon { position:absolute; top:64px; left:150px; padding:0; background:none; }

#main .sidebox#sb-tutorials h3 { margin:0 -14px 1px; padding:5px 10px; border-top:1px solid #e4e4e4; font-size:11px; font-weight:normal; color:#888; }
#main .sidebox#sb-tutorials ul { margin:0 -4px; font-size:13px; line-height:36px; }
#main .sidebox#sb-tutorials ul li { border-top:1px solid #e4e4e4; }
#main .sidebox#sb-tutorials ul li.first { border-top:none; }

#main .sidebox#sb-tutorials ul li a { display:block; margin:5px 0 4px; padding-left:0; color:#ccc; }
#main .sidebox#sb-tutorials ul li a span { display:block; float:left; height:36px; width:36px; background:url(http://images.apple.com/startpage/elements/foh_icons.png) no-repeat; overflow:hidden; margin:0 5px 0 0; }
#main .sidebox#sb-tutorials ul li a#tutorials-mac span { background-position:0 0; }
#main .sidebox#sb-tutorials ul li a#tutorials-photos span { background-position:0 -36px; }
#main .sidebox#sb-tutorials ul li a#tutorials-movies span { background-position:0 -72px; }
#main .sidebox#sb-tutorials ul li a#tutorials-web span { background-position:0 -108px; }
#main .sidebox#sb-tutorials ul li a#tutorials-music span { background-position:0 -144px; }
#main .sidebox#sb-tutorials ul li a#tutorials-iwork span { background-position:0 -180px; }
#main .sidebox#sb-tutorials ul li a#tutorials-mobileme span { background-position:0 -216px; }
#main .sidebox#sb-tutorials ul li a:hover { text-decoration:none; }
#main .sidebox#sb-tutorials ul li img { float:left; margin:0 7px 0 -2px; }
#main .sidebox#sb-tutorials a.view { margin:0 -14px; padding-left:10px; padding-right:28px; background-position:211px 50%; }

/* promo boxes */
#main #mobileme { min-height: 79px; *height: 79px; }
#main #mobileme .left { position:relative; z-index:2; margin:-22px 18px -1px -14px; *margin-top:-14px; }
#main #mobileme h2 { color:#000; margin:8px 0 0; *margin-top:16px; }
#main #mobileme p { font-size:13px; margin:0; }

#main #printproducts { min-height: 79px; *height: 79px; }
#main #printproducts h3 { font-size: 12px; line-height: 15px; width:130px; margin-bottom:.0em; }
#main #printproducts img.right { margin:0 -14px 5px -40px; position: relative; }
#main #printproducts p { font-size:10px; float: left; line-height:1.5; margin:0; position: relative; }
#main #printproducts .small { font-size:10px; line-height:1.2; width: 110px }


/* module */
#main #itunesmodule { margin:0 -2px; }

/* valentines day 2010 sidebox overwrites */
#main .sidebox#sb-store li.ipod h3 { color: #e1477e; }
