BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BACKGROUND-COLOR: #cccccc;text-align: center;
}
#wrapper {
BORDER-RIGHT: #FF8040 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #FF8040 1px solid; 
	PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 1em auto; VERTICAL-ALIGN: bottom; 
	BORDER-LEFT: #FF8040 1px solid; WIDTH: 80%; PADDING-TOP: 0px; BORDER-BOTTOM: #FF8040 1px solid; 
	POSITION: relative; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: center;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12;
}
#langPanel
{
	vertical-align : top;
	float:left;
}
#title
{
	font-size: 1.5em;
	color: #308FCF;
	padding-bottom : 15px;
	padding-top : 15px;
	padding-left: 125px;
}
table
{
	padding-left : 10px;
	padding-right : 10px;
	padding-bottom : 0px;
	padding-top : 0px;
	text-align:justify;
}
table.none
{   
    padding-left : 0px;
	padding-right : 0px;
	padding-bottom : 0px;
	padding-top : 0px;
	text-align:justify;  
}
td.info
{
	padding-left : 10px;
	padding-right : 10px;
	padding-top : 0px;
	padding-bottom : 0px;
    border-top: 1px dashed #FF9900;/*the border*/
    height: 1px;/*whatever the total width of the border-top and border-bottom equal*/
        

}
td.firstCell
{
	padding-left : 10px;
	padding-right : 10px;
	padding-top : 10px;
	padding-bottom : 10px;
	border:1px dashed #FF8040; border-top-width: 0px; border-bottom-width:0px;
	border-bottom-width : 0px; border-left-width : 0;
	
	text-align: center;
    vertical-align: top;
	font-family: Georgia, "Times New Roman", Times ;
         
    border-top: 1px dashed #FF9900;/*the border*/
	height: 1px;/*whatever the total width of the border-top and border-bottom equal*/
	
}
td.delimiter
{
	background-color: #FF8040;
	width: 1px;
}
td.missionDesc
{

}
td.missionDescCode
{
	font-family: Consolas;
}

strong.org
{
	font-variant: small-caps;
}
img.floatStyle
{
	float: left;
	margin:2px;
	padding-right: 15px;
}
h2.title
{
	COLOR:#FF9900;
	TEXT-ALIGN: center;
}
img.brainImg
{
	margin:2px;
}
#markBlue
{
	color : blue;
}
#markItalic
{
	font-style: italic;	
}
#geo
{
	color : blue;
}
hr.orange
{
	border: none 0;
	border-top: 1px dashed #FF9900;/*the border*/
	width: 100%;
	height: 1px;/*whatever the total width of the border-top and border-bottom equal*/
}
hr.blue
{
	border: none 0;
	border-top: 1px dashed blue;/*the border*/
	width: 100%;
	height: 1px;/*whatever the total width of the border-top and border-bottom equal*/
}
hr.neutral
{
	border: none 0;
	border-top: 1px dashed #FFCC55;/*the border*/
	width: 100%;
	height: 1px;/*whatever the total width of the border-top and border-bottom equal*/
}
#white
{   
    color : white;
}
#consultant
{
	color : red;
	margin-left : 3px;
}
#nivigationPanel
{
	color: #667777;
	font-size: small;
}
#commonGen
{
	
}
a.navigationToogleLink
{
	font-size: small;
}
.numberSmallPolice
{
	font-family: Georgia;
}

#smallLink
{
	font-family: Georgia;
	font-size: small;
	font-style: italic;
}

.box { border:1px solid; border-color:#e5e5e5 #dbdbdb #d2d2d2; background:#FFFEFF; -webkit-box-shadow:rgba(0,0,0,.5) 0 1px 2px; -moz-box-shadow:rgba(0,0,0,.5) 0 1px 2px; padding:7px;border-top-color: #000000; border-top-width:23x;}
div ~ .box { border-width:0; *border-width:1px; } /* reset for safari3, and resetting that reset for IE7 */
@-moz-document url-prefix() { div ~ .box { border-width:1px; } } /* FF2 reset for the above */
.box:nth-child(1n) { border:none; } /* reset for smart browsers */
.box { border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px; -o-border-radius:3px; -khtml-border-radius:3px; }
